@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{
  background-repeat: no-repeat;
  background-size: cover;
}
 
header{
    color: rgb(243, 188, 225);
    background-image: linear-gradient(to top, rgba(179, 145, 171, 0.815), rgba(119, 100, 115, 0.884),rgba(100, 71, 93, 0.829));
}

header>h1{
    text-align: center;
}

header > div > menu > ul > li{
    display: inline;
    margin: 55px;
    width: 70px;
}

img#conta{
    position: absolute;
    right: 10%;
}

img#pesquisa{
    position: absolute;
    right: 35%;
    
}

img#menu{
    position: absolute;
    left: 10%;
}

img#inicio{
    position: absolute;
    left: 35%;
}

div#listas{
  color: #bb4ba5;
  background-image: linear-gradient(to top, rgba(151, 80, 127, 0.685), rgba(124, 79, 113, 0.651), rgba(124, 65, 100, 0.623), rgba(117, 63, 104, 0.664), rgba(126, 74, 117, 0.719));
  text-align: center;
}

nav >  div > ul > li{
    display: inline;
    margin: 55px;
    width: 70px;
}

#tarefas{
    display: flex;
    width: 100vw;
}

.quadro {
    
    width: 210px;
    height: 130px;
    border-radius: 4px;
    background-color: #ccc;
    position: relative;
    overflow: hidden;
    margin: 20px;
  }
  
  .quadro h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .quadro button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: green;
    color: white;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
  }
  
  .quadro button:hover {
    background-color: #032503;
  }

  .editar{
    display: block;
    position: absolute;
    width: 80px;
    height: 27px;
    bottom: 10px;
    left: 10px;
    background-color: rgb(223, 223, 223);
    color: white;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
  }

  .centro{
    width: 1500px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    background-color: rgb(28, 26, 31);
  }

  .conteudo{
    height: 100px;
    width: 200px;
    display: block;
    position: absolute;
   
    background-color: rgba(194, 218, 238, 0.589);
  }

  nav{
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(105, 70, 94, 0.801), rgba(105, 76, 96, 0.795), rgba(119, 80, 105, 0.788), rgba(85, 56, 82, 0.842));
    color: rgb(202, 131, 184);
  }

  #lt{
    color: rgb(185, 126, 162);
  }